:host{
    display: block;
    width: 300px;

    mat-form-field {
        display: block;
        margin-right: 10%;
        margin-left: 10%;
        margin-bottom: 20px
    }
    .passNotmatch{
        color: red;
        font-size: 12px;
    }
}
