<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="date_debut">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> date de début </th>
    <td mat-cell *matCellDef="let element"> {{element.date_debut}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="date_fin">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> date fin </th>
    <td mat-cell *matCellDef="let element"> {{element.date_fin}} </td>
  </ng-container>



  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{lastRowName}} </th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="type=='encours' || type=='valider' ;else user">
        <div *ngIf="type=='encours';else valid">
          <button mat-raised-button color="accent" (click)="valider(element)">valider</button>
          <button mat-raised-button color="primary" (click)="rejecter(element)">rejecter</button>

        </div>

        <ng-template #valid>
          <div *ngIf="!element.status;else accepted" class="alert alert-danger" role="alert">

            Refusé
          </div>
          <ng-template #accepted>
            <div class="alert alert-success" role="alert">
              Accepté
            </div>
          </ng-template>
        </ng-template>
      </div>
      <ng-template #user>
        <div *ngIf="element.status !== null;else inProgress">
          <div *ngIf="element.status==true" class="alert alert-success" role="alert">
            Accepté
          </div>
          <div *ngIf="element.status==false" class="alert alert-danger" role="alert">
            Réfusé
          </div>

        </div>
        <ng-template #inProgress>
          <div class="alert alert-warning " role="alert">
            en attente
          </div>
        </ng-template>
      </ng-template>

    </td>

  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<app-table-pagination (pageIndexChange)='ChangePageIndex($event)'></app-table-pagination>