
.menuBu {
  position: fixed;
  z-index: 9990;
  background-color: #9ccb3a;
  right: 5%;
  top: 5%;

}

.profile{
  padding: 5% 10%;
}

.photoProfile{
    position: relative;margin-bottom: 30px;
    width: 200px;

  }

.photoProfile:hover .uploadBu{ opacity: 1; }
.uploadBu{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px;
    padding: 10px 0px;
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: all 300ms;
    color: aliceblue
  }
